<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_g8Y7EBwcEeq4Lc5XsD6Vnw" specification="@ParentFirstExecution&#xA;@EventDriven&#xA;&#xA;interface:&#xA;&#x9;var power : integer&#xA;&#x9;in event high&#xA;&#x9;in event low&#xA;&#x9;in event digit : integer&#xA;&#x9;in event timer&#xA;&#x9;in event start&#xA;&#x9;in event stop&#xA;&#x9;in event open&#xA;&#x9;in event close&#xA;&#x9;operation displayTime(t:integer)&#xA;&#x9;operation display(msg:string)&#xA;&#x9;operation clearDisplay()&#xA;&#x9;operation cook()&#xA;&#x9;operation stopCook()&#xA;&#x9;operation beepOn()&#xA;&#x9;operation beepOff()&#xA;&#x9;operation closeDoor()&#xA;&#x9;operation openDoor()&#xA;&#xA;internal:&#xA;&#x9;var currentTime: integer&#xA;&#x9;&#x9;" name="microwave">
    <regions xmi:id="_qL5-OB8FEfGGnIaZxgKznA" name="Microwave">
      <vertices xsi:type="sgraph:State" xmi:id="_qMBTFB8FEfGGnIaZxgKznA" specification="entry/stopCook(); openDoor(); display(&quot;Waiting&quot;)" name="OpenDoor" incomingTransitions="_qMBS-B8FEfGGnIaZxgKznA">
        <outgoingTransitions xmi:id="_qMB6CR8FEfGGnIaZxgKznA" specification="close/closeDoor()" target="_qL6lTB8FEfGGnIaZxgKznA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_qL5-UB8FEfGGnIaZxgKznA" name="closed microwave" incomingTransitions="_yftncB8FEfGGnIaZxgKznA">
        <outgoingTransitions xmi:id="_qMBS-B8FEfGGnIaZxgKznA" specification="open/openDoor()" target="_qMBTFB8FEfGGnIaZxgKznA"/>
        <regions xmi:id="_qL6lQR8FEfGGnIaZxgKznA" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_qMAE7R8FEfGGnIaZxgKznA" specification="entry/&#xD;&#xA;power= 1;&#xD;&#xA;display('High')" name="HighPower" incomingTransitions="_qL_d5B8FEfGGnIaZxgKznA _6OYuHx8GEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_qMAr8h8FEfGGnIaZxgKznA" specification="low" target="_qL-2uR8FEfGGnIaZxgKznA"/>
            <outgoingTransitions xmi:id="_qMAFER8FEfGGnIaZxgKznA" specification="timer" target="_qL9Bzx8FEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qL-2uR8FEfGGnIaZxgKznA" specification="entry/&#xD;&#xA;power = 2;&#xD;&#xA;display('Low')" name="LowPower" incomingTransitions="_qMAr8h8FEfGGnIaZxgKznA _6OYuDR8GEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_qL_d5B8FEfGGnIaZxgKznA" specification="high" target="_qMAE7R8FEfGGnIaZxgKznA"/>
            <outgoingTransitions xmi:id="_qL-23R8FEfGGnIaZxgKznA" specification="timer" target="_qL9Bzx8FEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qL9Bzx8FEfGGnIaZxgKznA" specification="entry/ displayTime(0000)&#xD;&#xA;digit/ displayTime(valueof(digit))" name="setTime" incomingTransitions="_qMAFER8FEfGGnIaZxgKznA _qL-23R8FEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_qL9oqx8FEfGGnIaZxgKznA" specification="start/cook()" target="_qL8ahR8FEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qL8ahR8FEfGGnIaZxgKznA" specification="digit/currentTime=valueof(digit)&#xD;&#xA;every 1s/ displayTime(currentTime);&#xD;&#xA;currentTime = currentTime -1" name="Cooking" incomingTransitions="_qL9oqx8FEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_qL9Bhx8FEfGGnIaZxgKznA" specification="stop/stopCook()" target="_qL7McR8FEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qL7McR8FEfGGnIaZxgKznA" specification="entry/display('Finished'); beepOn()&#xD;&#xA;after 5s/ beepOff(); clearDisplay()" name="Finished" incomingTransitions="_qL9Bhx8FEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_6OW4sB8GEfGGnIaZxgKznA" specification="always" target="_6OYt9R8GEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_6OYt9R8GEfGGnIaZxgKznA" specification="entry/clearDisplay();closeDoor()" name="Init" incomingTransitions="_6OW4sB8GEfGGnIaZxgKznA _EJsgeR8HEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_6OYuHx8GEfGGnIaZxgKznA" specification="high" target="_qMAE7R8FEfGGnIaZxgKznA"/>
            <outgoingTransitions xmi:id="_6OYuDR8GEfGGnIaZxgKznA" specification="low" target="_qL-2uR8FEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_EJoPCh8HEfGGnIaZxgKznA">
            <outgoingTransitions xmi:id="_EJsgeR8HEfGGnIaZxgKznA" specification="" target="_6OYt9R8GEfGGnIaZxgKznA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_qL6lTB8FEfGGnIaZxgKznA" name="continue" incomingTransitions="_qMB6CR8FEfGGnIaZxgKznA" kind="DEEP_HISTORY"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_xtUhMB8FEfGGnIaZxgKznA">
        <outgoingTransitions xmi:id="_yftncB8FEfGGnIaZxgKznA" specification="" target="_qL5-UB8FEfGGnIaZxgKznA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_g8gP0BwcEeq4Lc5XsD6Vnw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_g8Y7EBwcEeq4Lc5XsD6Vnw" measurementUnit="Pixel">
    <children xmi:id="_qL5-MB8FEfGGnIaZxgKznA" type="Region" element="_qL5-OB8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qL5-NR8FEfGGnIaZxgKznA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qL5-Nx8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qL5-Nh8FEfGGnIaZxgKznA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_qL5-Mx8FEfGGnIaZxgKznA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_qMBS_x8FEfGGnIaZxgKznA" type="State" element="_qMBTFB8FEfGGnIaZxgKznA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qMBTAB8FEfGGnIaZxgKznA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qMBTAR8FEfGGnIaZxgKznA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qMBTAh8FEfGGnIaZxgKznA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qMBTAx8FEfGGnIaZxgKznA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qMBTBB8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qMBTBR8FEfGGnIaZxgKznA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qMBTBh8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qMBTBx8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qMBTCB8FEfGGnIaZxgKznA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qMBTCR8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qMBTCh8FEfGGnIaZxgKznA" x="1287" y="125" width="364" height="60"/>
        </children>
        <children xmi:id="_qL5-RB8FEfGGnIaZxgKznA" type="State" element="_qL5-UB8FEfGGnIaZxgKznA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qL5-TR8FEfGGnIaZxgKznA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qL5-Tx8FEfGGnIaZxgKznA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qL5-Th8FEfGGnIaZxgKznA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qL5-Sh8FEfGGnIaZxgKznA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qL5-Sx8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-TB8FEfGGnIaZxgKznA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qL5-SR8FEfGGnIaZxgKznA" type="StateFigureCompartment">
            <children xmi:id="_qL5-Ux8FEfGGnIaZxgKznA" type="Region" element="_qL6lQR8FEfGGnIaZxgKznA">
              <children xsi:type="notation:DecorationNode" xmi:id="_qL5-WB8FEfGGnIaZxgKznA" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_qL6lQB8FEfGGnIaZxgKznA"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_qL5-WR8FEfGGnIaZxgKznA"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_qL5-Vh8FEfGGnIaZxgKznA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_qMAE0B8FEfGGnIaZxgKznA" type="State" element="_qMAE7R8FEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qMAE0R8FEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qMAE0h8FEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qMAE0x8FEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qMAE1B8FEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qMAE1R8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qMAE1h8FEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qMAE1x8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qMAE2B8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qMAE2R8FEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qMAE2h8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qMAE2x8FEfGGnIaZxgKznA" x="658" y="22" width="154" height="79"/>
                </children>
                <children xmi:id="_qL-PyB8FEfGGnIaZxgKznA" type="State" element="_qL-2uR8FEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qL-PyR8FEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qL-Pyh8FEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qL-Pyx8FEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL-PzB8FEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qL-PzR8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL-Pzh8FEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL-Pzx8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qL-P0B8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qL-P0R8FEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qL-P0h8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL-P0x8FEfGGnIaZxgKznA" x="658" y="164" width="154" height="81"/>
                </children>
                <children xmi:id="_qL9Bwx8FEfGGnIaZxgKznA" type="State" element="_qL9Bzx8FEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qL9BxB8FEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qL9BxR8FEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qL9Bxh8FEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL9Bxx8FEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qL9ByB8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL9ByR8FEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL9Byh8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qL9Byx8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qL9BzB8FEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qL9BzR8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL9Bzh8FEfGGnIaZxgKznA" x="613" y="339" width="261" height="66"/>
                </children>
                <children xmi:id="_qL8aeR8FEfGGnIaZxgKznA" type="State" element="_qL8ahR8FEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qL8aeh8FEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qL8aex8FEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qL8afB8FEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL8afR8FEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qL8afh8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL8afx8FEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL8agB8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qL8agR8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qL8agh8FEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qL8agx8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL8ahB8FEfGGnIaZxgKznA" x="606" y="474" width="274" height="81"/>
                </children>
                <children xmi:id="_qL7MZR8FEfGGnIaZxgKznA" type="State" element="_qL7McR8FEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qL7MZh8FEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qL7MZx8FEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qL7MaB8FEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL7MaR8FEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qL7Mah8FEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL7Max8FEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qL7MbB8FEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qL7MbR8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qL7Mbh8FEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qL7Mbx8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL7McB8FEfGGnIaZxgKznA" x="605" y="624" width="261" height="65"/>
                </children>
                <children xmi:id="_6OYt4B8GEfGGnIaZxgKznA" type="State" element="_6OYt9R8GEfGGnIaZxgKznA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_6OYt4R8GEfGGnIaZxgKznA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_6OYt4h8GEfGGnIaZxgKznA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_6OYt4x8GEfGGnIaZxgKznA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6OYt5B8GEfGGnIaZxgKznA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_6OYt5R8GEfGGnIaZxgKznA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6OYt5h8GEfGGnIaZxgKznA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_6OYt5x8GEfGGnIaZxgKznA" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_6OYt6B8GEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_6OYt6R8GEfGGnIaZxgKznA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_6OYt6h8GEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_6OYt6x8GEfGGnIaZxgKznA" x="191" y="41" width="233" height="63"/>
                </children>
                <children xmi:id="_EJoPAB8HEfGGnIaZxgKznA" type="Entry" element="_EJoPCh8HEfGGnIaZxgKznA">
                  <children xmi:id="_EJoPBB8HEfGGnIaZxgKznA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_EJoPBx8HEfGGnIaZxgKznA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_EJoPCR8HEfGGnIaZxgKznA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_EJoPCB8HEfGGnIaZxgKznA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_EJoPBh8HEfGGnIaZxgKznA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EJoPBR8HEfGGnIaZxgKznA"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_EJoPAx8HEfGGnIaZxgKznA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_EJoPAh8HEfGGnIaZxgKznA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EJoPAR8HEfGGnIaZxgKznA" x="53" y="64"/>
                </children>
                <children xmi:id="_qL6lQh8FEfGGnIaZxgKznA" type="DeepHistory" element="_qL6lTB8FEfGGnIaZxgKznA">
                  <children xmi:id="_qL6lQx8FEfGGnIaZxgKznA" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_qL6lRB8FEfGGnIaZxgKznA" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_qL6lRR8FEfGGnIaZxgKznA"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_qL6lRh8FEfGGnIaZxgKznA"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qL6lRx8FEfGGnIaZxgKznA" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL6lSB8FEfGGnIaZxgKznA" x="-4" y="19"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qL6lSR8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_qL6lSh8FEfGGnIaZxgKznA" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL6lSx8FEfGGnIaZxgKznA" x="943" y="134" width="15" height="15"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-Vx8FEfGGnIaZxgKznA"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qL5-VR8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-VB8FEfGGnIaZxgKznA"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qL5-SB8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qL5-Rx8FEfGGnIaZxgKznA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qL5-Rh8FEfGGnIaZxgKznA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-RR8FEfGGnIaZxgKznA" x="65" y="86" width="1148" height="840"/>
        </children>
        <children xmi:id="_xtUhMR8FEfGGnIaZxgKznA" type="Entry" element="_xtUhMB8FEfGGnIaZxgKznA">
          <children xmi:id="_xtVvUB8FEfGGnIaZxgKznA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_xtVvUx8FEfGGnIaZxgKznA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_xtVvVB8FEfGGnIaZxgKznA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_xtVvVR8FEfGGnIaZxgKznA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_xtVvUR8FEfGGnIaZxgKznA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xtVvUh8FEfGGnIaZxgKznA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_xtUhMh8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_xtUhMx8FEfGGnIaZxgKznA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_xtUhNB8FEfGGnIaZxgKznA" x="454" y="3" width="15" height="15"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-NB8FEfGGnIaZxgKznA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_qL5-Mh8FEfGGnIaZxgKznA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qL5-MR8FEfGGnIaZxgKznA" x="-212" y="224" width="1676" height="968"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_g8oLpBwcEeq4Lc5XsD6Vnw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_g8oLphwcEeq4Lc5XsD6Vnw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_g8oLpxwcEeq4Lc5XsD6Vnw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_g8oLqBwcEeq4Lc5XsD6Vnw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_g8oysBwcEeq4Lc5XsD6Vnw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8oysRwcEeq4Lc5XsD6Vnw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_g8oyshwcEeq4Lc5XsD6Vnw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_g8gP0RwcEeq4Lc5XsD6Vnw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_g8gP0hwcEeq4Lc5XsD6Vnw"/>
    <edges xmi:id="_qMAr6R8FEfGGnIaZxgKznA" type="Transition" element="_qMAr8h8FEfGGnIaZxgKznA" source="_qMAE0B8FEfGGnIaZxgKznA" target="_qL-PyB8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMAr7x8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMAr8R8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMAr8B8FEfGGnIaZxgKznA" x="2" y="35"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMAr7h8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMAr7R8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMAr7B8FEfGGnIaZxgKznA" points="[7, 14, 2, -87]$[7, 91, 2, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAr6x8FEfGGnIaZxgKznA" id="(0.17372011758832992,0.7293543543543544)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAr6h8FEfGGnIaZxgKznA" id="(0.20589050973431694,0.13580246913580246)"/>
    </edges>
    <edges xmi:id="_qMAE3B8FEfGGnIaZxgKznA" type="Transition" element="_qL_d5B8FEfGGnIaZxgKznA" source="_qL-PyB8FEfGGnIaZxgKznA" target="_qMAE0B8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMAE3R8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMAE3h8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMAE3x8FEfGGnIaZxgKznA" x="-1" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMAE4B8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMAE4R8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMAE4h8FEfGGnIaZxgKznA" points="[8, -7, 4, 92]$[8, -84, 4, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAE4x8FEfGGnIaZxgKznA" id="(0.5340285096233846,0.09876543209876543)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAE5B8FEfGGnIaZxgKznA" id="(0.5597648233401742,0.7042042042042043)"/>
    </edges>
    <edges xmi:id="_qL9ooh8FEfGGnIaZxgKznA" type="Transition" element="_qL9oqx8FEfGGnIaZxgKznA" source="_qL9Bwx8FEfGGnIaZxgKznA" target="_qL8aeR8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qL9oqB8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qL9oqh8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qL9oqR8FEfGGnIaZxgKznA" x="-8" y="-60"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qL9opx8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qL9oph8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qL9opR8FEfGGnIaZxgKznA" points="[2, 7, 4, -61]$[2, 66, 4, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL9opB8FEfGGnIaZxgKznA" id="(0.7279693486590039,0.8939393939393939)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL9oox8FEfGGnIaZxgKznA" id="(0.6854961614607814,0.03588516746411483)"/>
    </edges>
    <edges xmi:id="_qMAFCB8FEfGGnIaZxgKznA" type="Transition" element="_qMAFER8FEfGGnIaZxgKznA" source="_qMAE0B8FEfGGnIaZxgKznA" target="_qL9Bwx8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMAFDh8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMAFEB8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMAFDx8FEfGGnIaZxgKznA" x="-7" y="-32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMAFDR8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMAFDB8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMAFCx8FEfGGnIaZxgKznA" points="[29, -5, -20, -235]$[48, -5, -1, -235]$[48, 224, -1, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAFCh8FEfGGnIaZxgKznA" id="(0.8116883116883117,0.6075949367088608)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMAFCR8FEfGGnIaZxgKznA" id="(0.9042145593869731,0.10606060606060606)"/>
    </edges>
    <edges xmi:id="_qL-21B8FEfGGnIaZxgKznA" type="Transition" element="_qL-23R8FEfGGnIaZxgKznA" source="_qL-PyB8FEfGGnIaZxgKznA" target="_qL9Bwx8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qL-22h8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qL-23B8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qL-22x8FEfGGnIaZxgKznA" x="-2" y="24"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qL-22R8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qL-22B8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qL-21x8FEfGGnIaZxgKznA" points="[-3, 38, 3, -61]$[-3, 86, 3, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL-21h8FEfGGnIaZxgKznA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL-21R8FEfGGnIaZxgKznA" id="(0.5019157088122606,0.22727272727272727)"/>
    </edges>
    <edges xmi:id="_qL8auB8FEfGGnIaZxgKznA" type="Transition" element="_qL9Bhx8FEfGGnIaZxgKznA" source="_qL8aeR8FEfGGnIaZxgKznA" target="_qL7MZR8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qL9BhB8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qL9Bhh8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qL9BhR8FEfGGnIaZxgKznA" x="6" y="-79"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qL9Bgx8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qL9Bgh8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qL9BgR8FEfGGnIaZxgKznA" points="[5, 38, 3, -55]$[5, 82, 3, -11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL9BgB8FEfGGnIaZxgKznA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qL8auR8FEfGGnIaZxgKznA" id="(0.5402298850574713,0.1846153846153846)"/>
    </edges>
    <edges xmi:id="_6OYt7B8GEfGGnIaZxgKznA" type="Transition" element="_6OW4sB8GEfGGnIaZxgKznA" source="_qL7MZR8FEfGGnIaZxgKznA" target="_6OYt4B8GEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6OYt7R8GEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6OYt7h8GEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6OYt7x8GEfGGnIaZxgKznA" x="3" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6OYt8B8GEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6OYt8R8GEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6OYt8h8GEfGGnIaZxgKznA" points="[-9, 5, 471, 545]$[-475, 5, 5, 545]$[-475, -530, 5, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6OYt8x8GEfGGnIaZxgKznA" id="(0.038314176245210725,0.38461538461538464)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6OYt9B8GEfGGnIaZxgKznA" id="(0.5021459227467812,0.8412698412698412)"/>
    </edges>
    <edges xmi:id="_EJsgcB8HEfGGnIaZxgKznA" type="Transition" element="_EJsgeR8HEfGGnIaZxgKznA" source="_EJoPAB8HEfGGnIaZxgKznA" target="_6OYt4B8GEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_EJsgdh8HEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_EJsgeB8HEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_EJsgdx8HEfGGnIaZxgKznA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_EJsgdR8HEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_EJsgdB8HEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_EJsgcx8HEfGGnIaZxgKznA" points="[5, 5, -123, 3]$[129, 26, 1, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EJsgch8HEfGGnIaZxgKznA" id="(0.4,0.06666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EJsgcR8HEfGGnIaZxgKznA" id="(0.16738197424892703,0.4603174603174603)"/>
    </edges>
    <edges xmi:id="_6OYuFx8GEfGGnIaZxgKznA" type="Transition" element="_6OYuHx8GEfGGnIaZxgKznA" source="_6OYt4B8GEfGGnIaZxgKznA" target="_qMAE0B8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6OYuHB8GEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6OYuHh8GEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6OYuHR8GEfGGnIaZxgKznA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6OYuGx8GEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6OYuGh8GEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6OYuGR8GEfGGnIaZxgKznA" points="[25, -9, -235, -7]$[204, -9, -56, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6OYuGB8GEfGGnIaZxgKznA" id="(0.8540772532188842,0.36507936507936506)"/>
    </edges>
    <edges xmi:id="_6OYuBB8GEfGGnIaZxgKznA" type="Transition" element="_6OYuDR8GEfGGnIaZxgKznA" source="_6OYt4B8GEfGGnIaZxgKznA" target="_qL-PyB8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_6OYuCh8GEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_6OYuDB8GEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_6OYuCx8GEfGGnIaZxgKznA" x="12" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_6OYuCR8GEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_6OYuCB8GEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_6OYuBx8GEfGGnIaZxgKznA" points="[-4, 33, -267, -113]$[-4, 140, -267, -6]$[252, 140, -11, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6OYuBh8GEfGGnIaZxgKznA" id="(0.944206008583691,0.4444444444444444)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_6OYuBR8GEfGGnIaZxgKznA" id="(0.07792207792207792,0.6419753086419753)"/>
    </edges>
    <edges xmi:id="_qMBTCx8FEfGGnIaZxgKznA" type="Transition" element="_qMBS-B8FEfGGnIaZxgKznA" source="_qL5-RB8FEfGGnIaZxgKznA" target="_qMBS_x8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMBTDB8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMBTDR8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMBTDh8FEfGGnIaZxgKznA" x="-41" y="-37"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMBTDx8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMBTEB8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMBTER8FEfGGnIaZxgKznA" points="[14, 33, -82, -9]$[77, 33, -19, -9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMBTEh8FEfGGnIaZxgKznA" id="(1.0014697418823835,0.02026221692491061)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMBTEx8FEfGGnIaZxgKznA" id="(0.054945054945054944,0.36666666666666664)"/>
    </edges>
    <edges xmi:id="_qMB6AB8FEfGGnIaZxgKznA" type="Transition" element="_qMB6CR8FEfGGnIaZxgKznA" source="_qMBS_x8FEfGGnIaZxgKznA" target="_qL6lQh8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qMB6Bh8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qMB6CB8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qMB6Bx8FEfGGnIaZxgKznA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qMB6BR8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qMB6BB8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qMB6Ax8FEfGGnIaZxgKznA" points="[-16, 10, 198, -114]$[-214, 130, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMB6Ah8FEfGGnIaZxgKznA" id="(0.3131868131868132,0.8333333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qMB6AR8FEfGGnIaZxgKznA" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_yfuOgB8FEfGGnIaZxgKznA" type="Transition" element="_yftncB8FEfGGnIaZxgKznA" source="_xtUhMR8FEfGGnIaZxgKznA" target="_qL5-RB8FEfGGnIaZxgKznA">
      <children xsi:type="notation:DecorationNode" xmi:id="_yfuOhB8FEfGGnIaZxgKznA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yfuOhR8FEfGGnIaZxgKznA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yfuOhh8FEfGGnIaZxgKznA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yfuOgR8FEfGGnIaZxgKznA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yfuOgx8FEfGGnIaZxgKznA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yfuOgh8FEfGGnIaZxgKznA" points="[-2, 4, 2, -58]$[-2, 59, 2, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_YbjQEB8HEfGGnIaZxgKznA" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yfu1kB8FEfGGnIaZxgKznA" id="(0.34701305428770635,0.0059594755661501785)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
